name: Daily Farcaster Notification

on:
  schedule:
    - cron: "0 13 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  notify:
    runs-on: ubuntu-latest
    env:
      NEYNAR_API_KEY: ${{ secrets.NEYNAR_API_KEY }}
      REDIS_URL: ${{ secrets.REDIS_URL }}
      REDIS_TOKEN: ${{ secrets.REDIS_TOKEN }}

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: yarn

      - name: Run daily notification script
        run: yarn notify

      - name: Commit and push
        uses: EndBug/add-and-commit@v9
        with:
          message: "[action] logs"
          add: "logs/notifications.txt"
          author_name: "github-actions[bot]"
          author_email: "github-actions[bot]@users.noreply.github.com"
